# Ignore environment variables
.env

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django migrations
*/migrations/

# Ignore database files
db.sqlite3

# Ignore local settings
local_settings.py

# Ignore virtual environment directory
venv/

# Ignore IDE specific files
.vscode/
.idea/
